<li class="desktop">
  <a class="artist-link" data-slug="{{ post.slug }}">
    <div>
      <span>{{ post.title }}{% if post.data.country %}</span><span class="country">({{ post.data.country }}){% endif %}</span>
    </div>
    <img src="{{ post.data.img }}">
  </a>
</li>
<li class="mobile">
    <img src="{{ post.data.img }}">
    <div>
      <span>{{ post.title }}{% if post.data.country %}</span><span class="country">({{ post.data.country }}){% endif %}</span>
    </div>
{{ post.content }}
</li>