<h3>{{ day.name }}</h3>
<table>
  {% for slot in day.schedule %}
  <tr>
    {% assign schedule_artist = collections.posts.pages | where: "title", slot.artist | first %}
    <!-- If no artist found, assume it is not an artist and just print the title -->
    {% if schedule_artist == blank %}
    <td>{{ slot.artist }}</td>
    <!-- Otherwise render artist link -->
    {% else %}
    <td>
      <!--<a class="artist-link" data-slug="{{ schedule_artist.slug }}">-->
        {{ schedule_artist.title }}{% if schedule_artist.data.country %}<span class="country">({{ schedule_artist.data.country }})</span>{% endif %}
      <!--</a>-->
    </td>
    {% endif %}
  </tr>
  {% endfor %}
  <tr class="dj">
    <td>DJ</td>
    <td>{{ day.dj }}</td>
  </tr>
    <tr> 
    
  </tr>
</table>