<h3>{{ day.name }}</h3>
<table>
  <tr><td>{{ day.doors }}</td><td>Doors open</td></tr>
  {% for slot in day.schedule %}
  <tr>
    <td>{{ slot.time }}</td>
    {% assign schedule_artist = collections.posts.pages | where: "title", slot.artist | first %}
    <td>
      <a class="artist-link" data-slug="{{ schedule_artist.slug }}" href="{{ schedule_artist.permalink }}">
        {{ schedule_artist.title }} ({{ schedule_artist.data.country }})
      </a>
    </td>
  </tr>
  {% endfor %}
</table>