<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-SV5HBTHWPS"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-SV5HBTHWPS');
</script>
<meta charset="utf-8">
<meta title='{{ site.title }}' />
<meta description='{{ site.description }}' />
<meta property="og:image" content="/assets/img/fb.jpg" />
<meta property="og:description" content="{{ site.data.foeg_description }}" />
<meta property="og:url" content="{{ site.base_url }}" />
<link rel="stylesheet" href="/assets/css/style.css" />
<script type="text/javascript" src="/assets/js/site.js"></script>
<link rel='shortcut icon' type='image/x-icon' href='/assets/img/favicon.ico' />
<title>{{ page.title }}</title>
