<meta charset="utf-8">
<meta title='{{ site.title }}' />
<meta description='{{ site.description }}' />
<meta property="og:image" content="http://foeg.dk/wp-content/themes/foeg2018/assets/png/baggrund-mobile.png" />
<meta property="og:description" content="{{ site.data.foeg_description }}" />
<meta property="og:url" content="{{ site.base_url }}" />
<link rel="stylesheet" href="/assets/css/style.css" />
<script type="text/javascript" src="/assets/js/site.js"></script>
<title>{{ page.title }}</title>
