<div id="{{ festival.year }}">
<h2>{{ festival.year }}</h2>
<p><strong>Venue:</strong> {{ festival.venue }}</p>
<p><strong>Music:</strong> {{ festival.music }}</p>
{% if festival.other_content %}
  {% for content in festival.other_content %}
    <p><strong>{{ content[0] | capitalize }}:</strong> {{ content[1] }}</p>
  {% endfor %}
{% endif %}
<p><a href="{{ festival.programme_uri }}">Programme</a></p>
{% if festival.website_link %}
  <p><a href="{{ festival.website_link }}">Website</a></p>
{% endif %}
</div>
